<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <h1>查询所有用户</h1>

    <table border="1" cellpadding="0" cellspacing="0">
        <tr>
            <th>id</th>
            <th>姓名</th>
            <th>年龄</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.0 }}</td>
                <td>{{ user.1 }}</td>
                <td>{{ user.2 }}</td>
            </tr>
        {% endfor %}
    </table>

    <h1>新增用户</h1>
    <form action="user/add" method="post">
        <p>姓名: <input type="text" name="name"/></p>
        <p>年龄: <input type="text" name="age"/></p>
        <p><input type="submit" value="提交"/>{{ msg|default:'' }}</p>
    </form>
</body>
</html>